.row{
    display: flex;
}

.chart1{
    left: 200px;
    position: relative;
}

#myChart1{
    width: 450px;
    height: 350px;
}

.chart2{
    position: relative;
    left: 300px;
}

#myChart2{
    width: 450px;
    height: 350px;
}