.row{
    display: flex;
}

.chart1{
    left: 270px;
    position: relative;
}

#myChart1{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}
.chart2{
    position: relative;
    left: 240px;
}

#myChart2{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}

.chart3{
    left: 260px;
    position: relative;
}

#myChart3{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}
.chart4{
    position: relative;
    left: 270px;
}

#myChart4{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}

.chart5{
    left: 240px;
    position: relative;
}

#myChart5{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}
.chart6{
    position: relative;
    left: 270px;
}

#myChart6{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}

.chart7{
    left: 280px;
    position: relative;
}

#myChart7{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}
.chart8{
    position: relative;
    left: 240px;
}

#myChart8{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}

.chart9{
    left: 280px;
    position: relative;
}

#myChart9{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}
.chart10{
    position: relative;
    left: 240px;
}

#myChart10{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}

.chart11{
    position: relative;
    display: block;
    margin: 0 auto;
}

#myChart11{
    width: 775px;
    height: 650px;
    padding-top: 10px;
}

.chart12{
    position: relative;
    display: block;
    margin: 0 auto;
}

#myChart12{
    width: 775px;
    height: 650px;
    padding-top: 10px;
}

.chart13{
    position: relative;
    display: block;
    margin: 0 auto;
}

#myChart13{
    width: 775px;
    height: 650px;
    padding-top: 10px;
}

.chart14{
    position: relative;
    display: block;
    left: 250px;
}

#myChart14{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}

.chart15{
    position: relative;
    left: 250px;
}

#myChart15{
    width: 450px;
    height: 350px;
    padding-top: 10px;
}