.lineBalloon{
    position: relative;
    background-color: white;
    left: 3px;
    text-align:center;
    box-shadow: 5px 5px 5px #333333;
    border-radius: 5px;
    top: 14px;
    padding: 10px;
    border: solid 3px #555;
}
.lineBalloon:hover{
    background-color: #f6d405;
}
.lineBalloon:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 11;
}

.lineBalloon:after {
  content: "";
  position: absolute;
  top: -31px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #555;
  z-index: 3;
}
.lineBalloon:hover:before{
    border-bottom: 12px solid #f6d405;
}
.lineBalloon p {
  margin: 0;
  padding: 0;
}
.eventLine{
    position:relative;
    cursor: pointer;
    padding-bottom: 27px;
}
.eventLine .pin{
    text-align:center;
    position: relative;
    top:5px;
    font-size: 20px;
}