.button_history:hover{
  background-color: #F4D03F; !important
}
.timeLine{
  width: 1524px;
  margin: 0 auto;
  border: solid 3px black;
}
.timeLineTitle{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
.yearList{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
.timeLineInner{
  background-color:#eee;
  padding-left: 10px;
  padding-right: 10px;
}
.lineBar{
  background-color:yellow;
  position: relative;
  border-radius: 10px;
  font-size: 8px;
  text-indent: 5px;
  margin-bottom: 5px;
  /*このあといらないかも*/
  height: 30px;
}
.lineBar:hover{
  background-color: #f6d405;
  cursor: pointer;
}
.endLine:after{
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  left: 0;
  top: -8px;
  background-color: black;
}
.endLine:before{
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  right: 0;
  top: -8px;
  background-color: black;
}
.endLine{
  height: 4px;
  background-color: black;
  margin-top: 7px;
}
/*このままでいいのか？*/
.endLine:hover{
  background-color: black; !important
  cursor: default; !important
}