.button_history:hover{
  background-color: #F4D03F; !important;
}
.timeLine{
  width: 1524px;
  margin: 0 auto;
  border: solid 3px black;
  overflow-x: auto;
  max-width: 100%;
}
.timeLineTitle{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
.yearList{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  width: 1518px;
}
.timeLineInner{
  background-color:#eee;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: auto;
}
.lineBar{
  background-color:yellow;
  position: relative;
  border-radius: 10px;
  font-size: 8px;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-top:10px;
}
.lineBar:hover{
  background-color: #f6d405;
  cursor: pointer;
}
.endLine{
  height: 4px;
  background-color: black;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  position:relative;
  width: 1505px;
}
.endLine:after{
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 20px;
    background: black;
    left: 0;
    top: -8px;
}
.endLine:before{
  content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 20px;
    background: black;
    right: 0;
    top: -8px;
}
/*このままでいいのか？ / あまり好まないやり方*/
.endLine:hover{
  background-color: black; !important;
  cursor: default; !important;
}
.button{
  background-color: #00c7a9;
}
.history-title{
  font-weight: bold;
  padding-bottom: 5px;
}
.history-text{
  text-indent: 20px;
}
