.button_history:hover{
  background-color: #F4D03F; !important

}
.timeLine{
  width: 1524px;
  background-color: red;
  margin: 0 auto;
  border: solid 3px black;
}
.timeLineTitle{
  font-weight: bold;
  font-size: 18px;
}
.yearList{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
.timeLineInner{
  background-color:#eee;
  padding-left: 10px;
  padding-right: 10px;
}
.lineBar{
  background-color:yellow;
  position: relative;
  border-radius: 20px;
  font-size: 14px;
}
.endLine{
  height: 4px;
  background-color: black;
  margin-top: 7px;
}