.introbutton{
    background-color: #ffa000;
    color: #000000;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    border: none;
    box-shadow: 3px 3px 0px #cc8800;
  }

  .top_video{
    top: -97px;
    position: relative;
    z-index: 50;
  }
  
  .introbutton:hover{
    box-shadow: none;
    position: relative;
    top: 3px;
    left: 3px;
  }
  
  .introlink{
    color: #000000;
  }
  
  .introlink:hover{
    color: #000000;
  }
  
  .top_video_inner{
    position: relative;
    text-align: center;
    height: calc(100vh - 0px);
    overflow: hidden;
  
  }
  
  .introhome{
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: none;
    margin-top: 10px;
  }
  
  .maku{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5)
  }
  
  .aaa{
    color: white;
    font-size: 15px;
    right: 0%;
    top: 100px;
    width: 25%;
  }
  
  
  /*.two{
    font-family: "Noto Sans JP";
    width: 63%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
  }*/
  
  .three{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 17px;
    text-indent: 1em;
    color: black;
  }
  
  
  .start{
    font-family: "Noto Sans JP";
    color: #ffffff;
    background-color: #000000;
    background-position: center center;
    width: 83%;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 3px;
    text-shadow: 0.5px 0.5px #f6d405;
    text-align: center;
  }
  
  .biggertitle_jp{
    font-weight: bold;
    font-size: 30px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    width: 70%;
    color: black;
  }
  
  .discrimination{
    display: inline-block;
    list-style: none;
    vertical-align: center;
    margin: 40px;
    margin-left: 18%;
    background-color:  #f5f5f5;
    padding:  25px;
    height:250px;
    width: 24%;
    position: relative;
    left: 5%;
    font-size: 25px;
    font-weight: 800;
  }
  
  .discrimination li{
    color: black;
  }
  
  .discrimination1{
    display: inline-block;
    list-style: none;
    vertical-align: center;
    margin: 40px;
    margin-right: 13%;
    background-color:  #f5f5f5;
    padding:  25px;
    height:250px;
    width: 24%;
    position: relative;
    left: 5%;
    font-size: 25px;
    font-weight: 800;
  }
  
  .discrimination1 li{
    color: black;
  }
  
  .discrimination2{
    display: inline-block;
    list-style: none;
    vertical-align: center;
    margin: 40px;
    margin-left: 18%;
    background-color:  #f5f5f5;
    padding:  25px;
    height:250px;
    width: 24%;
    position: relative;
    left: 5%;
    font-size: 25px;
    font-weight: 800;
  }
  
  .discrimination2 li{
    color: black;
  }
  
  .discrimination3{
    display: inline-block;
    list-style: none;
    vertical-align: center;
    margin: 40px;
    margin-right: 13%;
    background-color:  #f5f5f5;
    padding:  25px;
    height:250px;
    width: 24%;
    position: relative;
    left: 5%;
    font-size: 25px;
    font-weight: 800;
  }
  
  .discrimination3 li{
    color: black;
  }
  .under {
    /* top: 10%;
    display: inline-block;
    line-height: 0em;
    padding-bottom: 1em;
    background: #ffa500; */
    border-bottom: solid 10px #ffa000;
  }
  
  .hometitle{
    font-weight: bold;
    font-size: 24px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    width: 53%;
  
  }
  .graphimage{
      width: 35%;
      height: 2%;
      display: inline-block;
      margin: 0 auto;
  }
  
  /* .logograph{
    display: inline-block;
    text-align: center;
  } */

  .row{
    display: inline-block;
  }
  
  figure {
    padding: 2px;
    margin: auto;
  }
  
  figcaption {
    font-family: "Noto Sans JP";
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
  
  .next{
      display: inline-block;
      float: right;
      margin-left: auto;
      margin-right: 40px;
      width: 100px;
  }

  .usmap{
    margin: 0 auto;
    width: 500px;
    position: absolute;
    top: 50%;
    margin-top: -153px;
    right: 10%;
    z-index: 99;
  }

  .usmap img{
    /* border: solid 1px red; */
    border-radius: 10px;
    /* padding: 0px 50px; */
  }

  .header-title-area{
    z-index: 12;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -112.5px;
    text-align: left;
  }

  .title-sub1{
    font-size: 30px;
  }

  .title-sub2{
    font-size: 60px;
  }

  /* ショーンベル事件 */

  .button1{
    width: 100px;
    height: 105px;
    border-style: none;
    background-color: #ffdd02;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    top: 15%;
    right: 14%;
    z-index: 100;
}

.image1{
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.figcaption1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    position: absolute;
    right: 11.8%;
    top: 22.5%;
    z-index: 110;
    cursor: pointer;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    color: #000000;
}

.circle1{
    width: 10px;
    height: 10px;
    border: 3px solid saddlebrown;
    border-radius: 50%;
    background: gold;
    position: absolute;
    top: 40.5%;
    right: 15.3%;
    z-index: 100;
}

.border1{
    height: 1px;
    border: none;
    border-top: 1px #ffffff solid;
    transform: skewY(-110deg);
    z-index: 99;
    width: 30px;
    position: absolute;
    top: 35%;
    right: 15.5%;
}

/* エリック・ガーナー事件 */

.button2{
  width: 100px;
  height: 105px;
  border-style: none;
  background-color: #ffdd02;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  top: 30%;
  right: 2.5%;
  z-index: 100;
}

.image2{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.figcaption2 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  position: absolute;
  right: 0%;
  top: 38.5%;
  z-index: 110;
  cursor: pointer;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  color: #000000;
}

.circle2{
  width: 10px;
  height: 10px;
  border: 3px solid saddlebrown;
  border-radius: 50%;
  background: gold;
  position: absolute;
  top: 40%;
  right: 14%;
  z-index: 100;
}

.border2{
  height: 1px;
  border: none;
  border-top: 1px #ffffff solid;
  transform: skewY(170deg);
  z-index: 99;
  width: 100px;
  position: absolute;
  top: 39.5%;
  right: 7.5%;
}

/* 催涙ガス */
.button3{
  width: 100px;
  height: 95px;
  border-style: none;
  background-color: #ffdd02;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  top: 18%;
  left: 48%;
  z-index: 100;
}

.image3{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.figcaption3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  position: absolute;
  left: 47%;
  top: 26%;
  z-index: 110;
  cursor: pointer;
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  color: #000000;
}

.circle3{
  width: 10px;
  height: 10px;
  border: 3px solid saddlebrown;
  border-radius: 50%;
  background: gold;
  position: absolute;
  top: 40%;
  left: 58%;
  z-index: 100;
}

.border3{
  height: 1px;
  border: none;
  border-top: 1px #ffffff solid;
  transform: skewY(-150deg);
  z-index: 99;
  width: 120px;
  position: absolute;
  top: 35.5%;
  left: 50%;
}

/*　オスカー・グラント事件 */
.button4{
  width: 100px;
  height: 110px;
  border-style: none;
  background-color: #ffdd02;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  top: 45%;
  left: 45%;
  z-index: 100;
}

.image4{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.figcaption4 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  position: absolute;
  left: 42.5%;
  top: 55%;
  z-index: 110;
  cursor: pointer;
  font-size: 10.5px;
  font-weight: 800;
  text-align: center;
  color: #000000;
}

.circle4{
  width: 10px;
  height: 10px;
  border: 3px solid saddlebrown;
  border-radius: 50%;
  background: gold;
  position: absolute;
  top: 50%;
  left: 57%;
  z-index: 100;
}

.border4{
  height: 1px;
  border: none;
  border-top: 1px #ffffff solid;
  transform: skewY(-190deg);
  z-index: 99;
  width: 100px;
  position: absolute;
  top: 52%;
  left: 50.5%;
}

/* フィランド・カスティール死亡事件 */
.button5{
  width: 100px;
  height: 120px;
  border-style: none;
  background-color: #ffdd02;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  top: 12%;
  right: 27%;
  z-index: 100;
}

.image5{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.figcaption5 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  position: absolute;
  right: 25.5%;
  top: 20.5%;
  z-index: 110;
  cursor: pointer;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
  color: #000000;
}

.circle5{
  width: 10px;
  height: 10px;
  border: 3px solid saddlebrown;
  border-radius: 50%;
  background: gold;
  position: absolute;
  top: 39%;
  right: 25%;
  z-index: 100;
}

.border5{
  height: 1px;
  border: none;
  border-top: 1px #ffffff solid;
  transform: skewY(-130deg);
  z-index: 99;
  width: 105px;
  position: absolute;
  top: 30.5%;
  right: 25.5%;
}

/* マイケル・ブラウン射殺事件 */
.button6{
  width: 105px;
  height: 115px;
  border-style: none;
  background-color: #ffdd02;
  cursor: pointer;
  position: absolute;
  border-radius: 10px;
  top: 75%;
  right: 45%;
  z-index: 100;
}

.image6{
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.figcaption6 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  position: absolute;
  right: 42.5%;
  top: 84.5%;
  z-index: 110;
  cursor: pointer;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
  color: #000000;
}

.circle6{
  width: 10px;
  height: 10px;
  border: 3px solid saddlebrown;
  border-radius: 50%;
  background: gold;
  position: absolute;
  top: 54%;
  right: 24%;
  z-index: 100;
}

.border6{
  height: 1px;
  border: none;
  border-top: 1px #ffffff solid;
  transform: skewY(-215deg);
  z-index: 99;
  width: 300px;
  position: absolute;
  top: 70%;
  right: 24.5%;
}
