.two_little{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    text-indent: 1em;
  }
  
  .start_little{
      font-weight: bold;
      font-size: 30px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: black;
    }
  
  .activity{
      width: 75%;
      margin: 0 auto;
      margin-top: 30px;
      font-family: "Noto Sans JP";
  }
  
  .program_little{
      width: 50%;
      margin: 0 auto;
      font-size: 21px;
      font-weight: bold;
  }
  .campaign_little{
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
  }

  .back{
    display: inline-block;
    margin-left: 40px;
    float: left;
    margin-right: auto;
    width: 100px;
}