.two_music{
    font-family: "Noto Sans JP";
    width: 47%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    text-indent: 1em;
    padding-bottom: 50px;
  }
  
  /* .start{
    font-family: "Noto Sans JP";
    color: #ffffff;
    background-color: #000000;
    background-position: center center;
    width: 83%;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 3px;
    text-shadow: 0.5px 0.5px #f6d405;
    text-align: center;
  } */

  .highlights{
    background:#ffff66;
  }
  .top_music{
    height: 230px; 
    background-color: black;

 }
    .start_music{
      font-weight: bold;
      font-size: 40px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      margin-top: 20px;
      width: 50%;
      color: white;
      }
    
      .description_music{
        font-size: 14px;
        font-family: "Noto Sans JP";
        margin: 0 auto;
        width: 50%;
        color: white;
      }

  .smallhead{
    padding-top: 50px;
    font-weight: bold;
    font-size: 25px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    width: 48%;
    color: #333333;
  }

  .sourcecaption{
    font-size: 12px;
  }
  

  .activity{
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      font-family: "Noto Sans JP";
  }
  
  .program{
      width: 85%;
      margin: 0 auto;
      font-size: 21px;
      font-weight: bold;
  }
  .campaign{
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
  }
  
  .next{
      display: inline-block;
      float: right;
      margin-left: auto;
      margin-right: 40px;
      width: 100px;
  }
  
  .back{
      display: inline-block;
      margin-left: 40px;
      float: left;
      margin-right: auto;
      width: 100px;
  }
  
  .nextback{
      text-align: center;
  }
  .bargraph{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }