.references_o{
    font-family: "Noto Sans JP";
    color: black;
    /* background-color: #ffa000; */
    /* background-position: center center; */
    border-left: solid 5px #ffa000;
    width: 50%;
    margin: 0 auto;
    font-size: 25px;
    /* border-radius: 3px; */
    font-weight: 800;
    /* text-align: center;  */
  }
  
  .two_references{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    text-indent: 1em;
  }
  
   .start_references{
      font-weight: bold;
      font-size: 30px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: black;
    }
  
  .books{
    font-family: "Noto Sans JP";
    margin: 0 auto;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 1%;
    font-weight: 700;
  }
  
  .sites{
    font-family: "Noto Sans JP";
    margin: 0 auto;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 1%;
    font-weight: 700;
  }
  
  .pictures{
    font-family: "Noto Sans JP";
    margin: 0 auto;
    font-size: 20px;
    margin-left: 26%;
    margin-top: 1%;
    font-weight: 700;
  }
  
  .pictures_link{
    font-family: "Noto Sans JP";
    margin: 0 auto;
    font-size: 20px;
    /* margin-left: 27%; */
    margin-top: 1%;
    font-weight: 700;
  }
  
  .more{
    font-family: "Noto Sans JP";
    color: #ffffff;
    background-color: #000000;
    background-position: center center;
    width: 83%;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 3px;
    text-shadow: 0.5px 0.5px #f6d405;
    text-align: center;
    margin-top: 45px;
  }
  
  .next{
      display: inline-block;
      float: right;
      margin-left: auto;
      margin-right: 40px;
      width: 100px;
  }
  
  .back{
      display: inline-block;
      margin-left: 40px;
      float: left;
      margin-right: auto;
      width: 100px;
  }
  
  .nextback{
      text-align: center;
  }

  .under{
    border-bottom: solid 10px #ffa000;
  }