.two_res{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    text-indent: 1em;
  }
  
   .start_res{
    font-weight: bold;
    font-size: 40px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    color: white;
    }

    .description_res{
      font-size: 14px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: white;
    }
  
    .top_res{
      height: 230px; 
      background-color: black;

   }

    .sourcecaption{
      font-size: 12px;
    }
  
  /*
  .start{
    font-family: "Noto Sans JP";
    color: #ffffff;
    background-color: #000000;
    background-position: center center;
    width: 83%;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 3px;
    text-shadow: 0.5px 0.5px #f6d405;
    text-align: center;
  }*/
  
  .drawing3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 370px;
    margin-top: 0px;
  }
  
  .drawing1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .next{
    display: inline-block;
    float: right;
    margin-left: auto;
    margin-right: 40px;
    width: 100px;
}

.back{
    display: inline-block;
    margin-left: 40px;
    float: left;
    margin-right: auto;
    width: 100px;
}

#container{
  width: 1024px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60PX;
  display: flex;
  }

.contentS{
  box-shadow: 0 0 8px #aaa;
  height: 380px;
  width: 470px;
  display: flex;
  }
  
  
  .contentS-text .triangle{
  position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  right: -20px;
  top: 50%;
  margin-top: -10px;
  
  }


  .contentS .contentS-image{
  background-image: url("../img/joinsdgs.png");
  background-size: cover;
  background-position: center;
  flex: 1;
  }

  .joinsdgshead{
      font-size: 36px;
      font-weight: 800;
      font-family: "Noto Sans JP";
      display: block;
      margin-left: 15px;
  }


  .joinsdgsintro{
      font-size: 18px;
      font-family: "Noto Sans JP";
      display: block;
      margin-left: 15px;
      text-indent: 1em;
  }