.two_what{
  font-family: "Noto Sans JP";
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 18px;
  text-indent: 1em;
}

 
  .start_sdgs{
    font-weight: bold;
    font-size: 40px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    color: white;
    }

    .description_sdgs{
      font-size: 14px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: white;
    }
  
    .top_sdgs{
      height: 230px; 
      background-color: black;

   }

.opening-title{
    margin: 0 auto;
    width: 50%;
    font-weight: 800;
    font-size: 20px;
    color:red;
}

.sub-title-sdgs{
  margin: 0 auto;
    width: 50%;
    font-weight: 800;
    font-size: 25px;
    color: black;
}

.contents{
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
    text-indent: 1em;
    color: black;
}
.sourcecaption{
  font-size: 12px;
}


.drawing3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 370px;
  margin-top: 0px;
}

.drawing1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 500px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.logograph{
    text-align: center;
}

.graphimage{
    width: 35%;
    height: 2%;
    display: inline-block;
    margin: 0 auto;
}

.next{
  display: inline-block;
  float: right;
  margin-left: auto;
  margin-right: 40px;
  width: 100px;
}

.back{
  display: inline-block;
  margin-left: 40px;
  float: left;
  margin-right: auto;
  width: 100px;
}

table{
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table tr{
  border-bottom: solid 2px white;
  margin: 0 auto;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: center;
  width: 10%;
  background-color: #FF76A2;
  color: white;
  text-align: center;
  padding: 10px 10px;
}


table td{
  width: 70%;
  background-color: rgb(246, 244, 244);
  padding: 10px 10px;
}

.list{
  width: 47%;
  margin: 0 auto;
}

ol.sample1{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding: 0px;
}
  
ol.sample1 li{
  position:relative;
  line-height: 30px;
  margin: 7px 0 7px 40px;
  padding-left: 10px;
  font-weight: bold;
  font-size:14px;
}
  
ol.sample1 li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: -35px;
  width: 30px;
  height: 30px;
  background: #FF76A2;
  text-align: center;
  color: #fff;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
