.two_what{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    text-indent: 1em;
  }
  
   .start_what{
      font-weight: bold;
      font-size: 30px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: black;
    }
  
  .opening-title{
      margin: 0 auto;
      width: 50%;
      font-weight: 800;
      font-size: 20px;
      color:red;
  }
  
  .contents{
      width: 50%;
      margin: 0 auto;
      font-size: 15px;
      text-indent: 1em;
      color: black;
  }
  
  .drawing3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 370px;
    margin-top: 0px;
  }
  
  .drawing1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .logograph{
      text-align: center;
  }
  
  .graphimage{
      width: 35%;
      height: 2%;
      display: inline-block;
      margin: 0 auto;
  }

  .next{
    display: inline-block;
    float: right;
    margin-left: auto;
    margin-right: 40px;
    width: 100px;
}

.back{
    display: inline-block;
    margin-left: 40px;
    float: left;
    margin-right: auto;
    width: 100px;
}