.two_sexualorientation{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    text-indent: 1em;
  }
  
  .start_sexualorientation{
      font-weight: bold;
      font-size: 30px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: black;
    }
  
  .activity{
      width: 75%;
      margin: 0 auto;
      margin-top: 30px;
      font-family: "Noto Sans JP";
  }
  
  .program_sexualorientation{
      width: 50%;
      margin: 0 auto;
      font-size: 21px;
      font-weight: bold;
  }
  .campaign_sexualorientation{
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
  }
  
  
  .sexualorientation{
      width: 325px;
      height: 350px;
      display: inline-block;
      margin: 0 auto;
  }
  
  .logoimage{
      text-align: center;
  }
  
  .next{
      display: inline-block;
      float: right;
      margin-left: auto;
      margin-right: 40px;
      width: 100px;
  }
  
  .back{
      display: inline-block;
      margin-left: 40px;
      float: left;
      margin-right: auto;
      width: 100px;
  }
  
  .nextback{
      text-align: center;
  }