.two_survey{
    font-family: "Noto Sans JP";
    width: 47%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    text-indent: 1em;
  }
  .start_survey{
    font-weight: bold;
    font-size: 40px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    color: white;
    }

    .description_survey{
      font-size: 14px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: white;
    }
  
    .top_survey{
      height: 230px; 
      background-color: black;

   }
  
  .surveytitle{
    font-weight: bold;
    font-size: 27px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
     width: 50%;
     padding-top: 30px;
  }

  .surveytitle::first-letter{
    font-size: 1.5em;
    color: #ffa000;
  }


  
  
  .start{
    font-family: "Noto Sans JP";
    color: #ffffff;
    background-color: #000000;
    background-position: center center;
    width: 83%;
    margin: 0 auto;
    font-size: 30px;
    border-radius: 3px;
    text-shadow: 0.5px 0.5px #f6d405;
    text-align: center;
  }
  .drawing{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 575px;
    margin-top: 0px;
  }
  
  
  .graphimage{
      width: 35%;
      height: 2%;
      display: inline-block;
      margin: 0 auto;
  }
  
  .logograph{
      text-align: center;
  }
  
  figure {
    padding: 2px;
    margin: auto;
  }
  
  figcaption {
    font-family: "Noto Sans JP";
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }

  .next{
    display: inline-block;
    float: right;
    margin-left: auto;
    margin-right: 40px;
    width: 100px;
}

.back{
    display: inline-block;
    margin-left: 40px;
    float: left;
    margin-right: auto;
    width: 100px;
}