<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../css/bulma.css" />
    <link rel="stylesheet" href="../css/en/history.css">
    <link rel="stylesheet" href="../css/en/shared.css">
    <link rel="stylesheet" href="../css/en/eventLine.css">
<!--    <script type="text/javascript" src="./js/history.js"></script>-->
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <meta name="description" content="このサイトを作成するために使用した文献がリスト上表記されています。">
</head>
<body>
<!-- 英語ヘッダー -->
<div class="fullhead">
    <div class="toggle">
        <div class="up-jp">
            <a href="index.html"><img class="logo" src="../img/black_logo.png"></a>
            <div class="uppersub_jp">
                <span class="bar_jp">
                    <span>Top</span>
                    <ul class="sub_jp">
                        <li><a href="index.html" class="downsub">Home</a></li>
                        <li><a href="what.html" class="downsub">What</a></li>
                        <li><a href="survey.html" class="downsub">Survey Results</a></li>
                        <li><a href="sdgs.html" class="downsub">SDGs</a></li>
                    </ul>
                </span>
                <a class="bar_jp" href="history.html">History</a>
                <a class="bar_jp" href="currentproblems.html">Incidents</a>
                <span class="bar_jp">
                    <span>Statistics</span>
                    <ul class="sub_jp" >
                        <li><a href="work.html" class="downsub">Work</a></li>
                        <li><a href="education.html" class="downsub">Education</a></li>
                        <li><a href="policebrutality.html" class="downsub">Police Brutality, etc.</a></li>
                        <li><a href="organization.html" class="downsub">Organization</a></li>
                    </ul>
                </span>
                <span class="bar_jp" >
                    <span>Discrimination</span>
                    <ul class="sub_jp">
                        <li><a href="genderdiscrimination.html" class="downsub">Gender</a></li>
                        <li><a href="asiandiscrimination.html" class="downsub">Asian</a></li>
                        <li><a href="sexualorientationdiscrimination.html" class="downsub">Sexual Orientation</a></li>
                        <li><a href="religiousdiscrimination.html" class="downsub">Religion</a></li>
                        <li><a href="littleknowndiscrimination.html" class="downsub">Others</a></li>
                    </ul>
                </span>
                <span class="bar_jp">
                    <span>Others</span>
                    <ul class="sub_jp">
                        <!--  <li><nuxt-link to="/others/why" class="subpage">何故？</nuxt-link></li>-->
                        <li><a href="sitemap.html" class="downsub">Site Map</a></li>
                        <li><a href="profile.html" class="downsub">Profile</a></li>
                        <li><a href="references.html" class="downsub">References</a></li>
                    </ul>
                </span>
                <span class="bar_jp">日本語</span>
            </div>
        </div>
    </div>
</div>
<!--ここに作れ-->
<div class="currentproblems" id="app">
    <!-- 章を分けるタブ-->
    <div class="tabs is-centered currentproblems">
      <ul>
<!--          class="is-active"-->
        <li><a href="#" class="button_history" @click="onTabClick(0)">Chapter: 1</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(1)">Chapter: 2</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(2)">Chapter: 3</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(3)">Chapter: 4</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(4)">Chapter: 5</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(5)">Chapter: 6</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(6)">Chapter: 7</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(7)">Chapter: 8</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(8)">History of Racism</a></li>
      </ul>
    </div>
    <!-- 実際のテーブル-->
    <!--一章-->
    <div class="timeLine" v-if="selectTabIndex === 0">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 1: The Discovery of the Continent / The Birth of 13 Colonies</div>
            <div class="timeLineMain">
                <!-- 出来事-->
                <line-bar left="25" width="150" number="0" @clicked="clicked">The Discovery of the Continent</line-bar>
                <line-bar left="100" width="200" number="1" @clicked="clicked">The introduction of Slaves in the US</line-bar>
                <line-bar left="750" width="150" number="2" @clicked="clicked">The 13 (Original) Colonies</line-bar>
                <line-bar left="800" width="150" number="3" @clicked="clicked">Seven Years' War(1756~1763)</line-bar>
                <line-bar left="1000" width="150" number="4" @clicked="clicked">The Sugar Act(1764)</line-bar>
                <line-bar left="1075" width="150" number="5" @clicked="clicked">The Stamp Act(1765)</line-bar>
                <line-bar left="1150" width="150" number="6" @clicked="clicked">Townshend Acts(1767)</line-bar>
                <line-bar left="1350" width="150" number="7" @clicked="clicked">Boston Tea Party(1773年)</line-bar>
                <line-bar left="1425" width="150" number="8" @clicked="clicked">Coercive Acts(1774年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1500</div>
                <div class="yearListEnd">1774</div>
            </div>
        </div>
    </div>
    <!--二章-->
    <div class="timeLine" v-if="selectTabIndex === 1">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 2: Start of the Revolutionary War</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">Battles of Lexington and Concord(1775 April)</line-bar>
                <line-bar left="100" width="50" number="1" @clicked="clicked">Second Continental Congress(1775 May)</line-bar>
                <line-bar left="300" width="50" number="2" @clicked="clicked">Common Sense by Thomas Paine(1776 January)</line-bar>
                <line-bar left="500" width="50" number="3" @clicked="clicked">Declaration for Independence(1776 July)</line-bar>
                <line-bar left="1150" width="50" number="4" @clicked="clicked">Siege of Yorktown[Battle of Yorktown](1781 September~October)</line-bar>
                <line-bar left="1350" width="50" number="5" @clicked="clicked">End of the Revolutionary War(1783 September)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1775</div>
                <div class="yearListEnd">1783</div>
            </div>
        </div>
    </div>
    <!--三章-->
    <div class="timeLine" v-if="selectTabIndex === 2">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 3: History after the Revolutionary War</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">Louisiana Purchase(1803)</line-bar>
                <line-bar left="500" width="50"number="1" @clicked="clicked">Haitian Revolution’s influence(1804)</line-bar>
                <line-bar left="1000" width="50" number="2" @clicked="clicked">War of 1812(1812)</line-bar>
                <line-bar left="1400" width="50" number="3" @clicked="clicked">Monroe Doctrine(1823)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1800</div>
                <div class="yearListEnd">1823</div>
            </div>
        </div>
    </div>
    <!--四章-->
    <div class="timeLine" v-if="selectTabIndex === 3">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 4: American Civil War</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">Kansas-Nebraska Act(1854)</line-bar>
                <line-bar left="200" width="50" number="1" @clicked="clicked">John Brown's raid on Harpers Ferry(1859)</line-bar>
                <line-bar left="475" width="50" number="2" @clicked="clicked">Abraham Lincoln is Elected for President(1860)</line-bar>
                <line-bar left="650" width="50" number="3" @clicked="clicked">Battle of Fort Sumter (1861 April) ...</line-bar>
                <line-bar left="825" width="50" number="4" @clicked="clicked">Seven Days Battles (1862 June~July) ...</line-bar>
                <line-bar left="1150" width="50" number="5" @clicked="clicked">Emancipation Proclamation (1863) ...</line-bar>
                <line-bar left="1400" width="50" number="6" @clicked="clicked">Battle of Fort Stedman(1865) ...</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1854</div>
                <div class="yearListEnd">1865</div>
            </div>
        </div>
    </div>
    <!--五章-->
    <div class="timeLine" v-if="selectTabIndex === 4">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 5: World War I</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">サラエボ事件(1914年6月28日) ...</line-bar>
                <line-bar left="400" width="50" number="1" @clicked="clicked">ロンドン秘密条約調印(1915年4月)</line-bar>
                <line-bar left="700" width="50" number="2" @clicked="clicked">ヴェルダン要塞攻防戦(1916年2月) ...</line-bar>
                <line-bar left="1000" width="50" number="3" @clicked="clicked">十月革命(1917年11月) ...</line-bar>
                <line-bar left="1400" width="50" number="4" @clicked="clicked">ウィルソンの十四ヶ条(1918年1月) ...</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1914</div>
                <div class="yearListEnd">1918</div>
            </div>
        </div>
    </div>
    <!--六章-->
    <div class="timeLine" v-if="selectTabIndex === 5">
        <div class="timeLineInner">
            <div class="timeLineTitle">第六章: 第二次世界大戦</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">ポーランド侵攻(1939年)</line-bar>
                <line-bar left="500" width="50" number="1" @clicked="clicked">太平洋戦争の勃発(1941年)</line-bar>
                <line-bar left="900" width="50" number="2" @clicked="clicked">ミッドウェー海戦(1942年) ...</line-bar>
                <line-bar left="1400" width="50" number="3" @clicked="clicked">戦争の終結(1945年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1939</div>
                <div class="yearListEnd">1944</div>
            </div>
        </div>
    </div>
    <!--七章-->
    <div class="timeLine" v-if="selectTabIndex === 6">
        <div class="timeLineInner">
            <div class="timeLineTitle">第七章:</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">核爆弾の開発(1944年)</line-bar>
                <line-bar left="100" width="50" number="1" @clicked="clicked">ヤルタ会談(1945年) ...</line-bar>
                <line-bar left="300" width="50" number="2" @clicked="clicked">マーシャル・プラン (1947~1948) ...</line-bar>
                <line-bar left="500" width="50" number="3" @clicked="clicked">北大西洋条約機構[NATO](1949年 4月)</line-bar>
                <line-bar left="700" width="50" number="4" @clicked="clicked">朝鮮戦争(1950年~) ...</line-bar>
                <line-bar left="900" width="50" number="5" @clicked="clicked">ベトナム戦争(1955年~1975年)</line-bar>
                <line-bar left="1100" width="50" number="6" @clicked="clicked">キューバ危機(1962年)</line-bar>
                <line-bar left="1300" width="50" number="7" @clicked="clicked">冷戦の終結(1989年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1945</div>
                <div class="yearListEnd">1989</div>
            </div>
        </div>
    </div>
    <!--八章-->
    <div class="timeLine" v-if="selectTabIndex === 7">
        <div class="timeLineInner">
            <div class="timeLineTitle">第八章: 21世期のアメリカ</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">アメリカ同時多発テロ(2001年9月11日)</line-bar>
                <line-bar left="700" width="50" number="1" @clicked="clicked">イラク戦争(2003年)</line-bar>
                <line-bar left="1300" width="50" number="2" @clicked="clicked">バラク・オバマ大統領就任(2009年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">2001</div>
                <div class="yearListEnd">2009</div>
            </div>
        </div>
    </div>
    <!--黒人差別-->
    <div class="timeLine" v-if="selectTabIndex === 8">
        <div class="timeLineInner">
            <div class="timeLineTitle">黒人差別の歴史</div>
            <div class="timeLineMain">
                <line-bar left="25" width="50" number="0" @clicked="clicked">奴隷貿易(1619年)</line-bar>
                <line-bar left="400" width="50" number="1" @clicked="clicked">奴隷制度成立(1670年)</line-bar>
                <line-bar left="700" width="50" number="2" @clicked="clicked">奴隷解放宣言(1861年)</line-bar>
                <line-bar left="1000" width="50" number="3" @clicked="clicked">バス・ボイコット運動(1955年)</line-bar>
                <line-bar left="1400" width="50" number="4" @clicked="clicked">ワシントン大行進(1963年8月28日)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1619</div>
                <div class="yearListEnd">1963</div>
            </div>
        </div>
    </div>

    <modal :isopen="isOpen" :data="coreData" :chapter="chapter" @close="close"></modal>

</div>


<!-- eng ヘッダー -->
<div class="footer_jp">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="sitemap.html">SiteMap</a></li>
    </ul>
    <p>第23回全国中学高校WEBコンテスト参加作品</p>
    <a href="https://twitter.com/learning_racism" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/learning.racism/?hl=ja"><i class="fab fa-instagram-square"></i></a>
</div>

<!-- javaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script type="text/javascript" src="../js/history/en/chapter.js"></script>
<script type="text/javascript" src="../js/history/en/data.js"></script>
<script type="text/javascript" src="../js/history/en/linebar.js"></script>
<script type="text/javascript" src="../js/history/en/modal.js"></script>
<script type="text/javascript" src="../js/history/en/history.js"></script>