<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../css/bulma.css" />
    <link rel="stylesheet" href="../css/en/history.css">
    <link rel="stylesheet" href="../css/en/shared.css">
    <link rel="stylesheet" href="../css/en/eventLine.css">
<!--    <script type="text/javascript" src="./js/history.js"></script>-->
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <meta name="description" content="このサイトを作成するために使用した文献がリスト上表記されています。">
</head>
<body>
<!-- 英語ヘッダー -->
<div class="fullhead">
        <div class="toggle">
            <div class="up-jp">
                <a href="index.html"><img class="logo" src="../img/black_logo_en.png"></a>
                <div class="uppersub_jp">
                    <span class="bar_jp">
                        <span>Home</span>
                        <ul class="sub_jp">
                            <li><a href="index.html" class="downsub">Home</a></li>
                            <li><a href="what.html" class="downsub">What</a></li>
                            <li><a href="survey.html" class="downsub">Survey Results</a></li>
                            <li><a href="sdgs.html" class="downsub">SDGs</a></li>
                        </ul>
                    </span>
                    <a class="bar_jp" href="history.html">History</a>
                    <span class="bar_jp">
                        <span>Statistics</span>
                        <ul class="sub_jp" >
                            <li><a href="work.html" class="downsub">Work</a></li>
                            <li><a href="education.html" class="downsub">Education</a></li>
                            <li><a href="policebrutality.html" class="downsub">Police Brutality, etc.</a></li>
                            <li><a href="organization.html" class="downsub">Organization</a></li>
                        </ul>
                    </span>
                    <span class="bar_jp">
                            <span>Entertainment</span>
                            <ul class="sub_jp" >
                                <li><a href="sports.html" class="downsub">Sports</a></li>
                                <li><a href="music.html" class="downsub">Music</a></li>
                                <li><a href="film.html" class="downsub">Film</a></li>
                            </ul>
                        </span>
                    <span class="bar_jp" >
                        <span>Discrimination</span>
                        <ul class="sub_jp">
                            <li><a href="genderdiscrimination.html" class="downsub">Gender</a></li>
                            <li><a href="asiandiscrimination.html" class="downsub">Asian</a></li>
                            <li><a href="sexualorientationdiscrimination.html" class="downsub">Sexual Orientation</a></li>
                            <li><a href="religiousdiscrimination.html" class="downsub">Religion</a></li>
                        </ul>
                    </span>
                    <span class="bar_jp">
                        <span>Others</span>
                        <ul class="sub_jp">
                            <!--  <li><nuxt-link to="/others/why" class="subpage">何故？</nuxt-link></li>-->
                            <li><a href="sitemap.html" class="downsub">Site Map</a></li>
                            <li><a href="profile.html" class="downsub">Profile</a></li>
                            <li><a href="references.html" class="downsub">References</a></li>
                        </ul>
                    </span>
                    <a href="../history.html" class="bar_jp">日本語</a>
                </div>
            </div>
        </div>
    </div>
<!--ここに作れ-->
<div class="currentproblems" id="app">
    <!--説明文-->
    <div class="explainAll">
        <h2 class="explainTitle">History Page</h2>
        <p class="explainText">This page shows </p>
    </div>
    <!-- 章を分けるタブ-->
    <div class="tabs is-centered currentproblems">
      <ul>
<!--          class="is-active"-->
        <li><a href="#" class="button_history" @click="onTabClick(0)">Chapter: 1</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(1)">Chapter: 2</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(2)">Chapter: 3</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(3)">Chapter: 4</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(4)">Chapter: 5</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(5)">Chapter: 6</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(6)">Chapter: 7</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(7)">Chapter: 8</a></li>
        <li><a href="#" class="button_history" @click="onTabClick(8)">History of Racism</a></li>
      </ul>
    </div>
    <!-- 実際のテーブル-->
    <!--一章-->
    <div class="timeLine" v-if="selectTabIndex === 0">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 1: The Discovery of the Continent / The Birth of 13 Colonies</div>
            <div class="timeLineMain">
                <!-- 出来事-->
                <line-bar left="25" width="150" number="0" @clicked="clicked">The Discovery of the Continent</line-bar>
                <line-bar left="100" width="200" number="1" @clicked="clicked">The introduction of Slaves in the US</line-bar>
                <line-bar left="750" width="150" number="2" top="-10" @clicked="clicked">The 13 (Original) Colonies</line-bar>
                <line-bar left="800" width="150" number="3" @clicked="clicked">Seven Years' War(1756~1763)</line-bar>
                <line-bar left="1000" width="150" number="4" @clicked="clicked">The Sugar Act(1764)</line-bar>
                <line-bar left="1075" width="150" number="5" @clicked="clicked">The Stamp Act(1765)</line-bar>
                <line-bar left="1150" width="150" number="6" @clicked="clicked">Townshend Acts(1767)</line-bar>
                <line-bar left="1350" width="150" number="7" @clicked="clicked">Boston Tea Party(1773)</line-bar>
                <line-bar left="1425" width="150" number="8" @clicked="clicked">Coercive Acts(1774)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1500</div>
                <div class="yearListEnd">1774</div>
            </div>
        </div>
    </div>
    <!--二章-->
    <div class="timeLine" v-if="selectTabIndex === 1">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 2: Start of the Revolutionary War</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">Battles of Lexington and Concord(1775 April)</line-bar>
                <line-bar left="100" width="175" number="1" @clicked="clicked">Second Continental Congress(1775 May)</line-bar>
                <line-bar left="300" width="175" number="2" @clicked="clicked">Common Sense by Thomas Paine(1776 January)</line-bar>
                <line-bar left="500" width="175" number="3" @clicked="clicked">Declaration for Independence(1776 July)</line-bar>
                <line-bar left="1150" width="175" number="4" @clicked="clicked">Siege of Yorktown[Battle of Yorktown](1781 September~October)</line-bar>
                <line-bar left="1350" width="175" number="5" @clicked="clicked">End of the Revolutionary War(1783 September)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1775</div>
                <div class="yearListEnd">1783</div>
            </div>
        </div>
    </div>
    <!--三章-->
    <div class="timeLine" v-if="selectTabIndex === 2">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 3: History after the Revolutionary War</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">Louisiana Purchase(1803)</line-bar>
                <line-bar left="500" width="175"number="1" @clicked="clicked">Haitian Revolution’s influence(1804)</line-bar>
                <line-bar left="1000" width="175" number="2" @clicked="clicked">War of 1812(1812)</line-bar>
                <line-bar left="1400" width="175" number="3" @clicked="clicked">Monroe Doctrine(1823)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1800</div>
                <div class="yearListEnd">1823</div>
            </div>
        </div>
    </div>
    <!--四章-->
    <div class="timeLine" v-if="selectTabIndex === 3">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 4: American Civil War</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">Kansas-Nebraska Act(1854)</line-bar>
                <line-bar left="200" width="175" number="1" @clicked="clicked">John Brown's raid on Harpers Ferry(1859)</line-bar>
                <line-bar left="475" width="175" number="2" @clicked="clicked">Abraham Lincoln is Elected for President(1860)</line-bar>
                <line-bar left="650" width="175" number="3" @clicked="clicked">Battle of Fort Sumter (1861 April) ...</line-bar>
                <line-bar left="825" width="175" number="4" @clicked="clicked">Seven Days Battles (1862 June~July) ...</line-bar>
                <line-bar left="1150" width="175" number="5" @clicked="clicked">Emancipation Proclamation (1863) ...</line-bar>
                <line-bar left="1400" width="175" number="6" @clicked="clicked">Battle of Fort Stedman(1865) ...</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1854</div>
                <div class="yearListEnd">1865</div>
            </div>
        </div>
    </div>
    <!--五章-->
    <div class="timeLine" v-if="selectTabIndex === 4">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 5: World War I</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">Assassination of Archduke Franz Ferdinand (1914 June 28) ...</line-bar>
                <line-bar left="400" width="175" number="1" @clicked="clicked">Treaty of London (1915 April)</line-bar>
                <line-bar left="700" width="175" number="2" @clicked="clicked">Battle of Verdun (1916 February) ...</line-bar>
                <line-bar left="1000" width="175" number="3" @clicked="clicked">October Revolution (1917 November) ...</line-bar>
                <line-bar left="1400" width="175" number="4" @clicked="clicked">Fourteen Points (1918 January) ...</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1914</div>
                <div class="yearListEnd">1918</div>
            </div>
        </div>
    </div>
    <!--六章-->
    <div class="timeLine" v-if="selectTabIndex === 5">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 6: World War II</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">Invasion of Poland (1939)</line-bar>
                <line-bar left="500" width="175" number="1" @clicked="clicked">The Outbreak of the Pacific War (1941)</line-bar>
                <line-bar left="900" width="175" number="2" @clicked="clicked">Battle of Midway (1942) ...</line-bar>
                <line-bar left="1400" width="175" number="3" @clicked="clicked">End of War(1945)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1939</div>
                <div class="yearListEnd">1944</div>
            </div>
        </div>
    </div>
    <!--七章-->
    <div class="timeLine" v-if="selectTabIndex === 6">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 7: Cold War</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">Development of Nuclear Weapons(1944)</line-bar>
                <line-bar left="100" width="175" number="1" @clicked="clicked">Yalta Conference(1945) ...</line-bar>
                <line-bar left="300" width="175" number="2" @clicked="clicked">Marshall Plan (1947~1948) ...</line-bar>
                <line-bar left="500" width="175" number="3" @clicked="clicked">North Atlantic Treaty Organization[NATO] (1949 April)</line-bar>
                <line-bar left="700" width="175" number="4" @clicked="clicked">Korean War (1950~1953 (the conflict still remains)) ...</line-bar>
                <line-bar left="900" width="175" number="5" @clicked="clicked">Vietnam War (1955~1975)</line-bar>
                <line-bar left="1100" width="175" number="6" @clicked="clicked">Cuban Missile Crisis (1962)</line-bar>
                <line-bar left="1300" width="175" number="7" @clicked="clicked">End of Cold War (1989)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1945</div>
                <div class="yearListEnd">1989</div>
            </div>
        </div>
    </div>
    <!--八章-->
    <div class="timeLine" v-if="selectTabIndex === 7">
        <div class="timeLineInner">
            <div class="timeLineTitle">Chapter 8: 21st Century America</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">September 11 attacks (2001 September 11)</line-bar>
                <line-bar left="700" width="175" number="1" @clicked="clicked">Iraq War (2003)</line-bar>
                <line-bar left="1300" width="175" number="2" @clicked="clicked">Barack Obama Becomes President(2009)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">2001</div>
                <div class="yearListEnd">2009</div>
            </div>
        </div>
    </div>
    <!--黒人差別-->
    <div class="timeLine" v-if="selectTabIndex === 8">
        <div class="timeLineInner">
            <div class="timeLineTitle">History of Racism</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">Introduction of Slaves in the US (1619)</line-bar>
                <line-bar left="400" width="175" number="1" @clicked="clicked">Establishment of Slavery (1670)</line-bar>
                <line-bar left="700" width="175" number="2" @clicked="clicked">Emancipation Proclamation (1861)</line-bar>
                <line-bar left="1000" width="175" number="3" @clicked="clicked">Montgomery bus boycott (1955)</line-bar>
                <line-bar left="1400" width="175" number="4" @clicked="clicked">March on Washington for Jobs and Freedom (1963 August 28)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1619</div>
                <div class="yearListEnd">1963</div>
            </div>
        </div>
    </div>
    <modal :isopen="isOpen" :data="coreData" :chapter="chapter" @close="close"></modal>
</div>



<!-- eng ヘッダー -->
<div class="footer_jp">
    <div class="footer_all">
        <div class="columns">
            <div class="column is-2">
                <h5>Home</h5>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="what.html">What</a></li>
                    <li><a href="survey.html">Survey</a></li>
                    <li><a href="sdgs.html">SGDs</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>History</h5>
                <ul>
                    <li><a href="history.html">History</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>Statistics</h5>
                <ul>
                    <li><a href="work.html">Work</a></li>
                    <li><a href="education.html">Education</a></li>
                    <li><a href="policebrutality.html">Policebrutality</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>Entertainment</h5>
                <ul>
                    <li><a href="sports.html">Sports</a></li>
                    <li><a href="music.html">Music</a></li>
                    <li><a href="film.html">film</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>Discrimination</h5>
                <ul>
                    <li><a href="genderdiscrimination.html">Gender</a></li>
                    <li><a href="asiandiscrimination.html">Asian</a></li>
                    <li><a href="sexualorientationdiscrimination.html">Sexual</a></li>
                    <li><a href="religiousdiscrimination.html">Religion</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>Social</h5>
                <ul>
                    <li><a href="https://twitter.com/learning_racism" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/learning.racism/?hl=jaInstagram" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
        <p>第23回全国中学高校WEBコンテスト参加作品</p>
    </div>
</div>

<!-- javaScript -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script type="text/javascript" src="../js/history/en/chapter.js"></script>
<script type="text/javascript" src="../js/history/en/data.js"></script>
<script type="text/javascript" src="../js/history/linebar.js"></script>
<script type="text/javascript" src="../js/history/en/modal.js"></script>
<script type="text/javascript" src="../js/history.js"></script>