.two_resourcesite{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    text-indent: 1em;
  }
  
   
  .start_resourcesite{
      font-weight: bold;
      font-size: 40px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      margin-top: 20px;
      width: 50%;
      color: white;
      }
  
      .description_resourcesite{
        font-size: 14px;
        font-family: "Noto Sans JP";
        margin: 0 auto;
        width: 50%;
        color: white;
      }
    
      .top_resourcesite{
        height: 230px; 
        background-color: black;
  
     }

     .next{
        display: inline-block;
        float: right;
        margin-left: auto;
        margin-right: 40px;
        width: 100px;
      }
      
      .back{
        display: inline-block;
        margin-left: 40px;
        float: left;
        margin-right: auto;
        width: 100px;
      }

  
#container{
    width: 1024px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60PX;
    display: flex;
    }

  .contentS{
    box-shadow: 0 0 8px #aaa;
    height: 380px;
    width: 470px;
    display: flex;
    }
    
    
    .contentS-text .triangle{
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid black;
    right: -20px;
    top: 50%;
    margin-top: -10px;
    
    }


    .contentS .contentS-image{
    background-image: url("../../img/joinsdgs.png");
    background-size: cover;
    background-position: center;
    flex: 1;
    }

    .joinsdgshead{
        font-size: 36px;
        font-weight: 800;
        font-family: "Noto Sans JP";
        display: block;
        margin-left: 15px;
    }


    .joinsdgsintro{
        font-size: 18px;
        font-family: "Noto Sans JP";
        display: block;
        margin-left: 15px;
    }

