.two_sexualorientation{
    font-family: "Noto Sans JP";
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    text-indent: 1em;
  }
  
  .start_sexualorientation{
    font-weight: bold;
    font-size: 40px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    color: white;
    }
  
    .description_sexualorientation{
      font-size: 14px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: white;
    }
  
    .top_sexualorientation{
      height: 230px; 
      background-color: black;
  
   }

   .start_sexualorientation2{
    font-weight: bold;
    font-size: 30px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    width: 50%;
    color: black;
  }
  
  .activity{
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      font-family: "Noto Sans JP";
  }
  
  
  .program_orientation{
    width: 50%;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
}
.campaign_orientation{
  width: 50%;
  margin: 0 auto;
  font-size: 15px;
}
  .sexualorientation{
      width: 325px;
      height: 350px;
      display: inline-block;
      margin: 0 auto;
  }
  
  .logoimage{
      text-align: center;
  }
  
  .next{
      display: inline-block;
      float: right;
      margin-left: auto;
      margin-right: 40px;
      width: 100px;
  }
  
  .back{
      display: inline-block;
      margin-left: 40px;
      float: left;
      margin-right: auto;
      width: 100px;
  }
  
  .nextback{
      text-align: center;
  }

mark {
    background: linear-gradient(transparent 70%, #f6d405 70%);
  }

  .under{
    border-bottom: solid 10px #ffa000;
  }

