.two_what{
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    text-indent: 1em;
  }
  
  .start_what{
    font-weight: bold;
    font-size: 40px;
    font-family: "Noto Sans JP";
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    color: white;
    }

    .description_what{
      font-size: 14px;
      font-family: "Noto Sans JP";
      margin: 0 auto;
      width: 50%;
      color: white;
    }
  
    .top_what{
      height: 230px; 
      background-color: black;

   }
  
  .drawing3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 370px;
    margin-top: 0px;
  }
  
  .drawing1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .next{
    display: inline-block;
    float: right;
    margin-left: auto;
    margin-right: 40px;
    width: 100px;
}

.back{
    display: inline-block;
    margin-left: 40px;
    float: left;
    margin-right: auto;
    width: 100px;
}

mark {
  background: linear-gradient(transparent 70%, #f6d405 70%);
}

.under{
  border-bottom: solid 10px #ffa000;
}