<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="./css/bulma.css" />
    <link rel="stylesheet" href="./css/history.css">
    <link rel="stylesheet" href="./css/shared.css">
    <link rel="stylesheet" href="css/eventLine.css">
<!--    <script type="text/javascript" src="./js/history.js"></script>-->
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
    <meta name="description" content="このサイトを作成するために使用した文献がリスト上表記されています。">
</head>
<body>
<!-- それ以外の通常ヘッダー -->
<div class="fullhead">
        <div class="toggle">
            <div class="up-jp">
                <a href="index.html"><img class="logo" src="./img/black_logo.png"></a>
                <div class="uppersub_jp">
                    <span class="bar_jp">
                        <span>ホーム</span>
                        <ul class="sub_jp">
                            <li><a href="index.html" class="downsub">ホーム</a></li>
                            <li><a href="what.html" class="downsub">差別とは？</a></li>
                            <li><a href="survey.html" class="downsub">アンケート結果</a></li>
                            <li><a href="sdgs.html" class="downsub">SDGsとの関係</a></li>
                            <li><a href="organization.html" class="downsub">組織</a></li>
                        </ul>
                    </span>
                    <a class="bar_jp" href="history.html">歴史</a>
                    <span class="bar_jp">
                        <span>差別の実態</span>
                        <ul class="sub_jp" >
                            <li><a href="work.html" class="downsub">雇用</a></li>
                            <li><a href="education.html" class="downsub">教育</a></li>
                            <li><a href="policebrutality.html" class="downsub">逮捕率など</a></li>
                        </ul>
                    </span>
                    <span class="bar_jp">
                        <span>エンタメ業界</span>
                        <ul class="sub_jp">
                                <li><a href="sports.html" class="downsub">スポーツ界</a></li>
                                <li><a href="music.html" class="downsub">音楽界</a></li>
                                <li><a href="film.html" class="downsub">映画界</a></li>
                            </ul>
                    </span>
                    <span class="bar_jp" >
                        <span>他の差別</span>
                        <ul class="sub_jp">
                            <li><a href="genderdiscrimination.html" class="downsub">性差別</a></li>
                            <li><a href="asiandiscrimination.html" class="downsub">アジア人差別</a></li>
                            <li><a href="sexualorientationdiscrimination.html" class="downsub">性的指向</a></li>
                            <li><a href="religiousdiscrimination.html" class="downsub">宗教差別</a></li>
                        </ul>
                    </span>
                    <span class="bar_jp">
                        <span>その他</span>
                        <ul class="sub_jp">
                            <!--  <li><nuxt-link to="/others/why" class="subpage">何故？</nuxt-link></li>-->
                            <li><a href="sitemap.html" class="downsub">サイトマップ</a></li>
                            <li><a href="profile.html" class="downsub">製作者紹介</a></li>
                            <li><a href="references.html" class="downsub">参考文献</a></li>
                        </ul>
                    </span>
                    <a class="bar_jp" href="en/history.html">English</a>
                </div>
            </div>
        </div>
    </div>


<div class="currentproblems" id="app">
        <div class="top_history">
                <ol class="bread">
                  <li class="breadcrumb-item"> <a href="index.html">ホーム</a></li>
                  <li class="breadcrumb-item"> <a href="history.html">歴史</a></li>
                </ol>
                <br>
                <h3 class="start_history"><span class="under">歴史</span></h3>
                <h6 class="description_history">このページは米国の歴史、米国での黒人差別の歴史をタイムライン形式でまとめています。スクロールし、イベントを押すと説明が見れます。</h6>
            </div> 
     <br>

    <h2 class="chapterTitle">第 ~ 章<h2>
    <!-- 章を分けるタブ-->
    <div class="tabs is-centered currentproblems">
      <ul>
<!--          class="is-active"-->
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===0}" @click="onTabClick(0)">第一章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===1}" @click="onTabClick(1)">第二章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===2}" @click="onTabClick(2)">第三章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===3}" @click="onTabClick(3)">第四章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===4}" @click="onTabClick(4)">第五章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===5}" @click="onTabClick(5)">第六章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===6}" @click="onTabClick(6)">第七章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===7}" @click="onTabClick(7)">第八章</a></li>
        <li><a href="#" class="button_history" :class="{active:selectTabIndex===8}" @click="onTabClick(8)">黒人差別</a></li>
      </ul>
    </div>
    <!-- 実際のテーブル-->
    <!--一章-->
    <div class="timeLine" v-if="selectTabIndex === 0">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter1_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第一章: 大陸の発見 / 13の植民地(13 colonies)の誕生</div>
            <div class="timeLineMain">
                <!-- 出来事-->
                <line-bar left="25" width="100" number="0" @clicked="clicked">新大陸の発見</line-bar>
                <line-bar left="100" width="100" number="1" @clicked="clicked">奴隷輸入</line-bar>
                <line-bar left="750" width="100" number="2" top="-10" @clicked="clicked">13の植民地誕生</line-bar>
                <line-bar left="800" width="150" number="3" @clicked="clicked">七年戦争(1756年~1763年)</line-bar>
                <line-bar left="1000" width="100" number="4" @clicked="clicked">砂糖法(1764年)</line-bar>
                <line-bar left="1075" width="100" number="5" @clicked="clicked">印紙法(1765年)</line-bar>
                <line-bar left="1150" width="100" number="6" @clicked="clicked">タウンゼンド諸法(1767年)</line-bar>
                <line-bar left="1350" width="100" number="7" @clicked="clicked">ボストン茶会事件(1773年)</line-bar>
                <line-bar left="1425" width="100" number="8" @clicked="clicked">強圧的諸条令(1774年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1500</div>
                <div class="yearListEnd">1774</div>
            </div>
        </div>
    </div>
    <!--二章-->
    <div class="timeLine" v-if="selectTabIndex === 1">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter2_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第二章: 独立戦争の開幕</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">レキシントン・コンコードの戦い(1775年)</line-bar>
                <line-bar left="100" width="175" number="1" @clicked="clicked">第二回大陸会議(1775年5月)</line-bar>
                <line-bar left="300" width="175" number="2" @clicked="clicked">トマス=ペインによる「コモン=センス」の発行(1776年1月)</line-bar>
                <line-bar left="500" width="175" number="3" @clicked="clicked">アメリカ独立宣言(1776年7月)</line-bar>
                <line-bar left="1150" width="175" number="4" @clicked="clicked">ヨークタウンの戦い(1781年9月〜10月)</line-bar>
                <line-bar left="1350" width="175" number="5" @clicked="clicked">終戦(1783年9月)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1775</div>
                <div class="yearListEnd">1783</div>
            </div>
        </div>
    </div>
    <!--三章-->
    <div class="timeLine" v-if="selectTabIndex === 2">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter3_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第三章: 独立戦争後のアメリカの歩み</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">ルイジアナ買収(1803)</line-bar>
                <line-bar left="500" width="175"number="1" @clicked="clicked">ハイチ独立の影響(1804年)</line-bar>
                <line-bar left="1000" width="175" number="2" @clicked="clicked">米英戦争(1812年)</line-bar>
                <line-bar left="1400" width="175" number="3" @clicked="clicked">モンロー教書のはっぴょう(1823年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1800</div>
                <div class="yearListEnd">1823</div>
            </div>
        </div>
    </div>
    <!--四章-->
    <div class="timeLine" v-if="selectTabIndex === 3">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter4_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第四章: 南北戦争</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">カンザス・ネブラスカ法(1854年)</line-bar>
                <line-bar left="200" width="175" number="1" @clicked="clicked">ハーパーズ・フェリー襲撃事件(1859年)</line-bar>
                <line-bar left="475" width="175" number="2" @clicked="clicked">エイブラハム・リンカーンが大統領に当選(1860年)</line-bar>
                <line-bar left="650" width="175" number="3" @clicked="clicked">サムター要塞攻撃事件(1861年4月) ...</line-bar>
                <line-bar left="825" width="175" number="4" @clicked="clicked">七日間の戦い(1862年) ...</line-bar>
                <line-bar left="1150" width="175" number="5" @clicked="clicked">奴隷解放宣言(1863年) ...</line-bar>
                <line-bar left="1400" width="175" number="6" @clicked="clicked">ステッドマン砦の戦い(1865年) ...</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1854</div>
                <div class="yearListEnd">1865</div>
            </div>
        </div>
    </div>
    <!--五章-->
    <div class="timeLine" v-if="selectTabIndex === 4">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter5_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第五章: 第一次世界大戦の幕開け</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">サラエボ事件(1914年6月28日) ...</line-bar>
                <line-bar left="400" width="175" number="1" @clicked="clicked">ロンドン秘密条約調印(1915年4月)</line-bar>
                <line-bar left="700" width="175" number="2" @clicked="clicked">ヴェルダン要塞攻防戦(1916年2月) ...</line-bar>
                <line-bar left="1000" width="175" number="3" @clicked="clicked">十月革命(1917年11月) ...</line-bar>
                <line-bar left="1400" width="175" number="4" @clicked="clicked">ウィルソンの十四ヶ条(1918年1月) ...</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1914</div>
                <div class="yearListEnd">1918</div>
            </div>
        </div>
    </div>
    <!--六章-->
    <div class="timeLine" v-if="selectTabIndex === 5">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter6_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第六章: 第二次世界大戦</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">ポーランド侵攻(1939年)</line-bar>
                <line-bar left="500" width="175" number="1" @clicked="clicked">太平洋戦争の勃発(1941年)</line-bar>
                <line-bar left="900" width="175" number="2" @clicked="clicked">ミッドウェー海戦(1942年) ...</line-bar>
                <line-bar left="1400" width="175" number="3" @clicked="clicked">戦争の終結(1945年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1939</div>
                <div class="yearListEnd">1944</div>
            </div>
        </div>
    </div>
    <!--七章-->
    <div class="timeLine" v-if="selectTabIndex === 6">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter7_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第七章: 冷戦</div>
            <div class="timeLineMain">
                <line-bar left="25" width="150" number="0" @clicked="clicked">核爆弾の開発(1944年)</line-bar>
                <line-bar left="100" width="150" number="1" @clicked="clicked">ヤルタ会談(1945年) ...</line-bar>
                <line-bar left="300" width="150" number="2" @clicked="clicked">マーシャル・プラン (1947~1948) ...</line-bar>
                <line-bar left="500" width="150" number="3" @clicked="clicked">北大西洋条約機構[NATO](1949年 4月)</line-bar>
                <line-bar left="700" width="150" number="4" @clicked="clicked">朝鮮戦争(1950年~) ...</line-bar>
                <line-bar left="900" width="150" number="5" @clicked="clicked">ベトナム戦争(1955年~1975年)</line-bar>
                <line-bar left="1100" width="150" number="6" @clicked="clicked">キューバ危機(1962年)</line-bar>
                <line-bar left="1300" width="150" number="7" @clicked="clicked">冷戦の終結(1989年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1945</div>
                <div class="yearListEnd">1989</div>
            </div>
        </div>
    </div>
    <!--八章-->
    <div class="timeLine" v-if="selectTabIndex === 7">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/chapter8_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">第八章: 21世期のアメリカ</div>
            <div class="timeLineMain">
                <line-bar left="25" width="175" number="0" @clicked="clicked">アメリカ同時多発テロ(2001年9月11日)</line-bar>
                <line-bar left="700" width="175" number="1" @clicked="clicked">イラク戦争(2003年)</line-bar>
                <line-bar left="1300" width="175" number="2" @clicked="clicked">バラク・オバマ大統領就任(2009年)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">2001</div>
                <div class="yearListEnd">2009</div>
            </div>
        </div>
    </div>
    <!--黒人差別-->
    <div class="timeLine" v-if="selectTabIndex === 8">
        <!--写真入れてる-->
        <img class="chapterBackground" src="img/racism_background.jpeg">
        <div class="timeLineInner">
            <div class="timeLineTitle">黒人差別の歴史</div>
            <div class="timeLineMain">
                <line-bar left="25" width="150" number="0" @clicked="clicked">奴隷貿易(1619年)</line-bar>
                <line-bar left="400" width="150" number="1" @clicked="clicked">奴隷制度成立(1670年)</line-bar>
                <line-bar left="700" width="150" number="2" @clicked="clicked">奴隷解放宣言(1861年)</line-bar>
                <line-bar left="1000" width="150" number="3" @clicked="clicked">バス・ボイコット運動(1955年)</line-bar>
                <line-bar left="1400" width="150" number="4" @clicked="clicked">ワシントン大行進(1963年8月28日)</line-bar>
                <p class="endLine"></p>
            </div>
            <div class="yearList">
                <div class="yearListFirst">1619</div>
                <div class="yearListEnd">1963</div>
            </div>
        </div>
    </div>

    <modal :isopen="isOpen" :data="coreData"  :chapter="chapter" @close="close"></modal>
</div>
<!-- フッダー -->
<div class="footer_jp">
    <div class="footer_all">
        <div class="columns">
            <div class="column is-2">
                <h5>ホーム</h5>
                <ul>
                    <li><a href="index.html">ホーム</a></li>
                    <li><a href="what.html">差別とは</a></li>
                    <li><a href="survey.html">アンケート結果</a></li>
                    <li><a href="sdgs.html">SGDsとの関係</a></li>
                    <li><a href="organization.html">組織</a></li>
            </div>
            <div class="column is-2">
                <h5>歴史</h5>
                <ul>
                    <li><a href="history.html">歴史</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>現状</h5>
                <ul>
                    <li><a href="work.html">雇用</a></li>
                    <li><a href="education.html">教育</a></li>
                    <li><a href="policebrutality.html">逮捕率</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>エンタメ業界</h5>
                <ul>
                    <li><a href="sports.html">スポーツ界</a></li>
                    <li><a href="music.html">音楽界</a></li>
                    <li><a href="film.html">映画界</a></li>
                </ul>
            </div>
            <div class="column is-2">
                <h5>他の差別</h5>
                <ul>
                    <li><a href="genderdiscrimination.html">性差別</a></li>
                    <li><a href="asiandiscrimination.html">アジア人差別</a></li>
                    <li><a href="sexualorientationdiscrimination.html">性的指向</a></li>
                    <li><a href="religiousdiscrimination.html">宗教差別</a></li>
            </div>
            <div class="column is-2">
                <h5>ソーシャル</h5>
                <ul>
                    <li><a href="https://twitter.com/learning_racism" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/learning.racism/?hl=jaInstagram" target="_blank">Instagram</a></li>
            </div>
        </div>
        <p>第23回全国中学高校WEBコンテスト参加作品</p>
    </div>
</div>

<!--<line1 v-if="locationName==='line1'"></line1>-->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script type="text/javascript" src="js/history/chapter.js"></script>
<script type="text/javascript" src="js/history/data.js"></script>
<script type="text/javascript" src="js/history/linebar.js"></script>
<script type="text/javascript" src="js/history/modal.js"></script>
<script type="text/javascript" src="js/history.js"></script>

</body>
</html>